body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #29548f;
}

.container {
    width:100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
 
   
}

.header {
    height: 60px;
    width: 100%;
    background-color: #1E5B8A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.cityName {
 display: grid;
 grid-template-columns: 20% 80%;
 column-gap: 5px;
 align-items: center;
height: 50px;
}

.cityName i {
    display: block;
    margin: auto;
    
}



.cityName input {
    margin: 0;
    display: block;
    padding: 0 10px 0 0;
    width: 100%;
    letter-spacing: 0px;
    border: 0px solid transparent;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 24px;
    font-weight: 700; 
    
}

input::placeholder {
    color: #ffffff;
    
   
}

input:focus::placeholder {
    color: rgba(255, 255, 255, 0.2)
    
   
}

.cityTab {
    height: 0px;
    visibility: hidden;
    color: transparent;
    
}

.errorTabOff {
    position: absolute;
    background-color: rgb(158, 24, 0);
    top:-60;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    transition: 200ms;
    z-index: 2;
}

.errorTabOn {
    position: absolute;
    background-color: rgb(158, 24, 0);
    top:0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    transition: 200ms;
    z-index: 2;
}

.errorText {
    font-size: 24px;
    font-weight:600 ;
}


.cityTabChanged {
     display: grid;
     grid-template-columns: 30% 30% 40%;  
     height: 120px;
     width: 100%;
     color: white;
     background-color: tomato;   
     transition: 400ms;
}

.loading0 {
    position: absolute;
    width: 0;
    height: 5px;
    background-color: seagreen;
    top: 55px;
    z-index: 3;
    
}

.loading1 {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 255, 110);
    top: 55px;
    z-index: 3;
    transition:450ms linear;
}




.startPageOn {
    position: absolute;
    background-color:#1E5B8A;
    height: 100%;
    width: 100%;
    top:60px;
    z-index: 0;
    transition: 2s;
    
}

.startPageOff {
    position: absolute;
    background-color:#1E5B8A;
    height: 100%;
    width: 100%;
    top:60px;
    z-index: 0;
    display: none;
    opacity: 0;
    transition: 1s; 
}

.matchListOff {
    height: 0;
    width: 100%;
    background-color: #1d4379;
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.matchListOn {
    
    width: 100%;
   
    
    display: flex;
    flex-direction: column;
color:white;
    text-align: center;
   font-size: 18px;
    transition: 300ms;
    z-index: 1;
}
.matchListOn ul {
    list-style: none;
  margin: 0;
padding: 0;
position: absolute;
top:60;
width: 100%;
z-index: 1;
background-color: #29548f;

}

.matchListOn li {
      padding: 30px 0;
      box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);

      
}

.matchListOn li:active {
    background-color: rgba(70, 119, 189, 0.5);
    transition: 200ms;
    
}





.cityInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    opacity: 0;  
}

.cityInfoChanged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
opacity: 1;
transition: 600ms;
}



.fetchedCityDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}


.cityTab span {
    margin: 2px 0;
}

.cntFlag {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .cityName i {
     font-size: 24px;
     margin: 0 10px 0 15px;  
 }

 .today {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0 15px 0 0 ;
    font-size: 16px;
    font-weight: 200;
}



/*--------------------------------------------------------- */

.day {
    width: 100%;
    height: 50px;
   
    display: grid;
    grid-template-columns: 50% 20% 20%;
    column-gap: 5%;
    align-items: center;   
    background-color: #29548f;
    color: white;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
}




 .degC {
     font-size: 12px;
 }

.day h2 {
    margin: 0 0 0 25px;
    font-weight: 200;
}

.day i {
    font-size:24px;
    margin: auto ;
}

.day .celsius {
    margin: auto;
    font-size: 26px;
    padding-right: 20px ;
    font-family:  'Roboto';
}

.dayDetails {  
    
    height: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #1D4277;
    transform-origin: top center; 
    color: white;
    visibility: hidden;
    transition: 450ms linear;
}



.dayDetails .dayInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    padding-left:30px ;
    opacity: 0;
    transition: 0.4s;
    
}

.dayDetails .dayInfoName {
    font-weight: 100;
}

.dayDetails .dayIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    opacity: 0;
    transition: 0.4s;
}

.dayDetails .conditions {
    font-size: 24px;
    font-weight: 200;
}


/*------------------------------------------------------------*/
footer { 
    width: 100%;
    height: 140px;
    background-color: rgb(53, 64, 163);
}


@keyframes inputloop {
   from { color: yellow; }
   to { color: white;}
}
